<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
</head>
<body>
<h1>Car List</h1>

<ul>
    <% cars.forEach(function(c) { %>
        <li>
            <%= c.model %>
            <%= c.make === "Nissan" ? "Created by Nissan" : "Created by Subaru" %>
        </li>
    <% }) %>
</ul>
</body>
</html>